*.exe
examples/*.exe
!upx.exe
!aupx.exe
iui/tree.v
*.def
*.log
test.bat
*.dll

#  See: https://github.com/pisaiah/vide
examples/ide/
examples/vide
#  See: https://github.com/pisaiah/vpaint
examples/vpaint/
#  See: https://github.com/pisaiah/File-Explorer
examples/explore

examples/VideoPlayer/*.dll
examples/gui-builder/