*.exe
examples/*.exe
!upx.exe
!aupx.exe
iui/tree.v
*.def
*.log
test.bat

#  See: https://github.com/isaiahpatton/vide
examples/ide/
examples/vide
#  See: https://github.com/isaiahpatton/vpaint
examples/vpaint/
#  See: https://github.com/isaiahpatton/File-Explorer
examples/explore
